<div class="modal" id="modal_s">
    <div class="modal_in">
        <button class="close">X</button>
    <div class="modal_nameInput">
        <label for="nameInput">Имя:</label>
        <input id ="nameInput" type="text" placeholder="Введите свое имя...." /> 
    </div>
    <div class="modal_feedback">
        <label for="feedback">Отзыв:</label>
        <input id ="feedback" type="text" placeholder="Сюда писать отзыв...." />
    </div>
        <div>
            <button id ="publishBtn" class="publish">Опубликовать!</button>
        </div>
    </div>
</div>
