
    <main class="container" role="main" aria-label="Image Carousel">
        <div class="carousel" aria-roledescription="carousel">
            <button class="button_right">➡️</button>
            <button class="button_left">⬅️</button>
            <div class="carousel-track" tabindex="0">
                <div class="carousel-slide" role="tabpanel" aria-hidden="false" tabindex="0">
                    <img src="/Static/Image/london.jpg" alt="Фотография Лондона" draggable="false" />
                </div>
                <div class="carousel-slide" role="tabpanel" aria-hidden="true" tabindex="-1">
                    <img src="/Static/Image/ny.jpg" alt="Фотография Нью-Йорка" draggable="false" />
                </div>
                <div class="carousel-slide" role="tabpanel" aria-hidden="true" tabindex="-1">
                    <img src="/Static/Image/spb.jpg" alt="Фотография Санкт-Петербурга" draggable="false" />
                </div>
            </div>
            <div class="carousel-indicators">
            </div>
        </div>
        </main>