<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <link href="../Static/CSS/StyleSheet.css" rel="stylesheet" type="text/css"/>
</head>
<header id="header-index">
    <h1>О проекте</h1>
    <p>Наш сайт предлагает круглосуточный доступ к живым видеотрансляциям с разных уголков города и мира.
    Вы можете в реальном времени наблюдать за оживленными улицами, красивыми пейзажами и уникальными событиями прямо из дома.
    Просто выберите интересующее место на карте и погрузитесь в атмосферу улиц, не выходя на улицу! 
    Идеально для тех, кто хочет следить за погодой, трафиком или просто насладиться видом живых городских сцен.</p>
    <!--SLIDER-->
    <script src="/Static/Scripts/scriptforslider.js"></script>
</header>
<!--SIDEBAR-->
<body>
    <!--MODAL-->
    <div class="db_fb">
    <!--FEEDBACK-->
    <button class="buttonOpen">Оставить отзыв</button>
    </div>
    <script src="/Static/Scripts/scriptAbout.js"></script>
</body>
<!--FOOTER-->
</html>
