<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script src="/Static/Scripts/testingJs.js"></script>
</head>
<header id="header-index">
    <h1>LifeSpot - тестовая страница</h1>
    <p>Здесь можно экспериментировать с кодом</p>
    <input name="box" type="text" oninput="handleInput()"/>
    <script>handleSession()</script>
</header>
<!--SIDEBAR-->
<body>
    <div class="block">
        <div class="video-container">
            <h2>Нью-Йорк</h2>
            <!--Нью-Йорк-->
            <iframe width="420" height="250" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>В этом окне можно посмотреть на Нью-Йорк</p>
        </div>
        <div class="video-container">
            <h2>Санкт-Петербург</h2>
            <!--Санкт-Петербург-->
            <iframe width="420" height="250" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>В этом окне можно посмотреть на Санкт-Петербург</p>
        </div>
        <div class="video-container">
            <h2>Лондон</h2>
            <!--Лондон-->
            <iframe width="420" height="250" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>В этом окне можно посмотреть на Лондон</p>
        </div>
    </div>
</body>
<!--FOOTER-->
</html>